.view {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}

.social {
    margin: auto;
}

.social a i svg {
    margin: .5em;
}

/* Social media */
.social a i {
    color: #343a40;
}

.fi-snsuxx-facebook:hover {
    color: #3b5998;
}

.fi-xnsuxx-instagram:hover {
    color: #dd2a7b;
}

.fi-xnsuxx-twitter:hover {
    color: #08a0e9;
}

.fi-xnsuxx-github:hover {
    color: #211f1f;
}

.fi-swsuxx-bootstrap-b:hover {
    color: #9933CC;
}

@media (max-width: 576px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .creditos, .social {
        margin-top: 1em;
    }
}
