:root {
    --purple: #1d1135;
    --navy: #0c164f;
    --pink: #ba1e68;
    --blue: #5643fd;
    --purple-light: #7649fe;
    --white: #fcfbfe;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding: 1em 0;
    /* background: linear-gradient(180deg, var(--purple), var(--purple-light) ); */
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    max-width: 90%;
}

section {
    margin-top: 1em;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

.header {
    margin: 0 1em;
}

.text-header {
    grid-column: 1/7;
}

.title {
    font-size: 3em;
    margin-bottom: 0;
}

.subtitle {
    margin: .25em 0em;
}

.parrafo {
    text-align: justify;
}

.cta {
    display: inline-block;
    background-color: var(--blue);
    padding: .5em;
}

.cta:hover {
    background-color: var(--navy);

}

.cta a {
    color: white;
}

.img-header {
    grid-column: 7/-1;
}
    
.items {
    margin: 0;
    /* grid-column: 1/-1; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background: linear-gradient(180deg, #FFFFFF 50%, #000000 50%); */
}

.item {
    width: 270px;
    margin: .5em auto;
    background-color: var(--navy);
    text-align: center;
}

.planet {
    margin: 1em auto;
    width: 60%;
}

.number {
    font-size: 1.5em;
    text-transform: uppercase;
}

.descripcion,
.number {
    margin: 1em;
    color: var(--white);
}

/* Information */

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parche {
    grid-column: 1/1;
}

.info-texto {
    grid-column: 2/-1;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    color: var(--white);
    background-color: var(--blue);
}

.social {
    margin: auto;
}
.social a {
    margin: .2em;
}